@model NoticiasWeb.Models.Categorias

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="card">
  <div class="card-header">
    Crear Categoria
  </div>
  <div class="card-body">


      <form asp-action="Guarda" asp-controller="Categoria" >
      <div class="mb-3">
       <label>Titulo</label>
    <input type="text" asp-for="Titulo" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
      </div>
      <div class="mb-3">
         <label>Descripcion</label>
    <input type="text" asp-for="Descripcion" />
       
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
     <td> @Html.ActionLink("Regresar","Index","Categoria",new{@class="btn btn-warning"} ) </td>
    </form>


  </div>
</div>