@model List<NoticiasWeb.Models.Categorias>








    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Mostrar Dashboard</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">

    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Opciones y Registros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  <p> <a  href="/Suscripcion/index">Suscripcion</a> </p>
   <p> <a  href="/Privilegio/index">Privilegio</a> </p>
   <p> <a  href="/Categoria/index">Categoria</a> </p>
    <p> <a  href="/Usuario/index">Usuario</a> </p>
     <p> <a  href="/Noticia/index">Noticia</a> </p>
      <p> <a  href="/Comentario/index">Comentario</a> </p>
        <p> <a  href="/MostrarNoticia/index">MostrarNoticia</a> </p>
  </div>
</div>

    <div class="card border-dark mb-3">
  <div class="card-header" >
    Listar Categorias
  </div>
  <div class="card-body">

    <a class="btn btn-success" href="/Categoria/Agregar">agregar Nueva Categoria</a>
     
    <hr />
    <table class="table table-bordered"  id="tablaEst" >
      <thead>
        <tr>
            <th>Titulo</th>
             <th>Descripcion</th>
             <th>Acciones</th>
            
        </tr>

    </thead>
        <tbody>
        @foreach (var iterar in Model)
        {
            <tr>
                <td>@iterar.Titulo  </td>
                <td>@iterar.Descripcion  </td>
                @*El primer delete es para texto el segundo delte es la accion del controlador*@
                <td>@Html.ActionLink("Delete","Delete",new{id=@iterar.CategoriaId},new{@class="btn btn-danger"}) 
                @Html.ActionLink("Update","Load",new{id=@iterar.CategoriaId},new{@class="btn btn-warning"} ) </td>
            </tr>
        }

    </tbody>
    </table>

  </div>
</div>

<div>

@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
        var tabla = $('#tablaEst').DataTable();
        }   
        );

    </script>



}

</div>
