@model NoticiasWeb.Models.Comentarios

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
<div class="card-header">
    Crear Comentario
</div>
<div class="card-body">


<form asp-action="Guarda" asp-controller="Comentario" >
      <div class="mb-5">
            <label>Comentario</label>
            <input type="text"  asp-for="Comentario" /></>
      </div>
      <div class="mb-5">
            <label>fecha</label>
            <input type="datetime-local"  asp-for="Fecha" /></>
      </div>
      <div class="mb-5">
            <label>NoticiaID</label>
            <input type="int"  asp-for="NoticiaID" /></>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
<td> @Html.ActionLink("Regresar","Index","Comentario",new{@class="btn btn-warning"} ) </td>
</form>
</div>
</div>
