body {
  font-family: sans-serif;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-grafico-noticias-deportivas_1412-554.jpg?w=740);
  background-repeat: no-repeat;
  overflow: auto;
  background-size: cover;
}

.container {
  margin-top: 100px;
  width: 300px;
  margin-bottom: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 37px #334;
}

.header {
  text-align: center;
  padding-top: 50px;

}

.header h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 80px;
}

.main {
  text-align: center;
}

.main input,
button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
}

.main button {
  padding-left: 0; 
  border-radius: 10px;
  background-color: #8379d2;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 50px;
  //margin-left: 28px;
}

.main button:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #83acf1;
}
.main input:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ddd;
}

.main span {
  position: relative;
}

.main i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 26px;
  top: -15px;
}
.volver svg {
  width: 30px;
  height: 50px;
  color: #fff;
  position: absolute;
  left: 150px;

}
.volver svg :hover {
  color: #83acf1;

}

@media screen and (max-width: 677px) {
 .volver svg {
 margin-top : 50px;
 margin-left: 10%;
 }
}

.input-r{
  border-radius: 10px;
}

.eye {
  width: 30px;
  margin-left: -10px;
}
.eye:hover {
  color: gray;
}
.eye svg {
  position: absolute;
  left: 265px;
  top: 17px;
  cursor: pointer;
}
