body{
	background-image: url(https://img.freepik.com/vector-gratis/concepto-fondo-noticias-falsas_23-2148514224.jpg?t=st=1653094512~exp=1653095112~hmac=c942070de4b2ec8cd2bdc004fe7cc27039be397bf666b03e533c28f9ae2e14a4&w=740);
	 background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
 
}

a button {
	text-decoration: none;
	color: wheat;

}
	

.container {
  width: 380px;
  margin:7% auto;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 17px #333;
}

.header {
  text-align: center;
  padding-top: 75px;
}

.header h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 80px;
  box-shadow: 2px 2px 2px 2px #555;
}

.main {
  text-align: center;
}
.new{
  color: orange;
}

.main input, button {
  width: 300px;
  height: 40px;
  border:none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;

}

.main button {
  padding-left: 0;
  background-color: #83acf1;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;
  border-radius: 15px;
  color: black;
}

.main button:hover {
  box-shadow: 12px 12px 15px #241595; 
  background-color: #8379d2;

}
.main input:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ddd;
}

.main span {
  position: relative;
}

.main i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 26px;
  top: -15px;
}

