@model NoticiasWeb.Models.Privilegios

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
<div class="card-header">
    Crear Privilegio
</div>
<div class="card-body">


<form asp-action="Guarda" asp-controller="Privilegio" >
      <div class="mb-5">
            <label>Titulo</label>
            <input type="text" asp-for="TipoUsuario" />
      </div>
    
      <button type="submit" class="btn btn-primary">Guardar</button>
<td> @Html.ActionLink("Regresar","Index","Privilegio",new{@class="btn btn-warning"} ) </td>
</form>


</div>
</div>
