@model NoticiasWeb.Models.Privilegios

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Privilegio" asp-action="Guarda"> 

    <label>Titulo</label>
    <input type="text" asp-for="TipoUsuario" />
    <button>Guardar</button>
</form>