@model List<NoticiasWeb.Models.Privilegios>

<div>    

<a class="btn btn-success" href="/Privilegio/Agregar">agregar</a> 

 </div>

 &nbsp;

<table class="table table-striped" id="tablaEst">

    
    <thead>
        <tr>
            <th>Titulo</th>
             <th>Acciones</th>
            
        </tr>

    </thead>
    <tbody>
        @foreach (var iterar in Model)
        {
            <tr>
                <td>@iterar.TipoUsuario  </td>
                @*El primer delete es para texto el segundo delte es la accion del controlador*@
                <td>@Html.ActionLink("Delete","Delete",new{id=@iterar.PrivilegioId},new{@class="btn btn-danger"}) 
                @Html.ActionLink("Update","Load",new{id=@iterar.PrivilegioId},new{@class="btn btn-warning"} ) </td>
            </tr>
        }

    </tbody>

      &nbsp;
</table>
@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
        var tabla = $('#tablaEst').DataTable();
        }   
        );

    </script>

}



