@model List<NoticiasWeb.Models.Suscripciónes>


<div>  

<a class="btn btn-success" href="/Suscripcion/Agregar">Agregar</a> 

 </div>

 &nbsp;

<table class="table table-striped" id="tablaEst">

   
   
   
    
    <thead>
        <tr>
            <th>Id Suscripcion</th>
             <th>Costo</th>
             <th>Caracteristica</th>
            
        </tr>

    </thead>
    <tbody>
        @foreach (var iterar in Model)
        {
            <tr>
                <td>@iterar.SuscripcionId  </td>
             <td min="1.00" max="10000.00" step="0.01"> <label>$@iterar.Costo  </label> </td>
                <td>@iterar.Caracteristica  </td>
                @*El primer delete es para texto el segundo delte es la accion del controlador*@
                <td>@Html.ActionLink("Delete","Delete",new{id=@iterar.SuscripcionId},new{@class="btn btn-danger"}) 
                @Html.ActionLink("Update","Load",new{id=@iterar.SuscripcionId},new{@class="btn btn-warning"} ) </td>
            </tr>
        }

    </tbody>

      &nbsp;
</table>
@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
        var tabla = $('#tablaEst').DataTable();
        }   
        );

    </script>

}


