@model NoticiasWeb.Models.Suscripciónes

<div class="card">
<div class="card-header">
    Actualizar Suscripcion
</div>
<div class="card-body">


<form asp-action="actu" asp-controller="Suscripcion" >
     <div class="mb-3">
            <input type="hidden" asp-for="SuscripcionId" readonly />
     </div>
     <div class="mb-3">
            <label>Costo</label>
            <input type="number" asp-for="Costo" />       
     </div>
     <div class="mb-3">
            <label>Caracteristica</label>
            <input type="text" asp-for="Caracteristica" />
     </div>
     <button  class="btn btn-primary">Actualizar</button>
<td> @Html.ActionLink("Regresar","Index","Suscripcion",new{@class="btn btn-warning"} ) </td>
</form>

</div>
</div>
