@model NoticiasWeb.Models.Noticias

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
<div class="card-header">
    Crear Noticia
</div>
<div class="card-body">


      <form asp-action="Guarda" asp-controller="Noticia" >
       <div class="mb-5">
            <label>Titulo</label>
            <input type="text"  asp-for="Titulo" /></>
       </div>
       <div class="mb-5">
            <label>Descripcion</label>
            <input type="text"  asp-for="Descripcion" /></>
       </div>
       <div class="mb-5">
            <label>Imagen</label>
             <input type="text" asp-for="Imagen" />
       </div>

       <div class="mb-5">
            <label>Fecha</label>
            <input type="datetime-local"  asp-for="fecha" /></>
       </div>

       <div class="mb-5">
            <label>CategoriaID</label>
            <!-- Dropdon con datos cargados desde viewbag -->
           @Html.DropDownList("CategoriaId", new SelectList(ViewBag.Categorias,"CategoriaId","Titulo"))
       </div>
       <div class="mb-5">
            <label>UsuarioID</label>
            <input type="text"  asp-for="UsuarioID" /></>
       </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
     <td> @Html.ActionLink("Regresar","Index","Noticia",new{@class="btn btn-warning"} ) </td>
    </form>
  </div>
</div>
